/* Dimmed text */
.flash-dim {
	color: var(--flash-dim-color, var(--text-faint)) !important;
}

/* Highlighted matches */
.flash-match {
	color: var(--flash-match-color, var(--text-accent)) !important;
	font-weight: var(--flash-match-font-weight, normal) !important;
}

/* Jump labels */
.flash-label {
	background-color: var(
		--flash-label-bg-color,
		var(--color-green)
	) !important;
	color: var(
		--flash-label-text-color,
		var(--text-on-accent-inverted)
	) !important;
	font-weight: var(--flash-label-font-weight, normal) !important;
	font-size: 0.8em;
	padding: 1px 3px !important;
	border-radius: 2px !important;
	display: inline-block;
	line-height: 1 !important;
}

/* Question mark labels for overflow */
.flash-label-question {
	background-color: var(
		--flash-label-question-bg-color,
		var(--color-yellow)
	) !important;
}

/* Settings input styling */
.flash-settings-wide-input {
	width: 300px !important;
}

/* Status bar item */
.flash-status-bar {
	display: none;
}

.flash-status-bar.active {
	display: inline-block;
}

.flash-status-bar.left {
	order: -1;
}
